*,
*::after,
*::before 
*::marker {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.logo {
    display: block;
    margin: 0 auto;
    text-align: center;

}

h1,
p {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

hr {
    margin-right: 34%;
    margin-left: 34%;
}

.three {
    width: 38%;
    margin: 0 auto;
    text-align: center;
}
.threem {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.four {
    text-align: center;
}

.five {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.six{
    color: white;
}

button {
    text-align: center;
    padding: 1rem;
    line-height: 100%;
    border-color: blue;
    border-radius: 2rem;
    background-color: blue;
    color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
    text-: white;

}


